body{
    margin: 0;
}
#img1{
     width: 170.917px;
     height: 230px;
    display: inline-block;
}
#img2{
    width: 170.917px;
    height: 230px;
    display: inline-block;
}
#img3{
     width: 170.917px;
     height: 230px; 
    display: inline-block;
}
#img4{
     width: 170.917px;
     height: 230px;
    display: inline-block;
}
#img5{
    width: 170.917px;
    height: 230px;
    display: inline-block;
}
#img6{
     width: 170.917px;
     height: 230px;
    display: inline-block;
}